@page "/blog/{urlHandle}"
@model Bloggie.Web.Pages.Blog.DetailsModel
@{
    ViewData["Title"] = Model.BlogPost.PageTitle ;
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            @if (Model.BlogPost != null)
            {
                <h1 class="mb-3">@Model.BlogPost.Heading</h1>
                <P>
                    @foreach (var Tag in Model.BlogPost.Tags)
                    {
                        <span class="badge bg-dark">@Tag.Name</span>
                    }
                </p>
                <div class="d-flex justify-content-between mb-3">
                    <span class="text-secondary">Author: @Model.BlogPost.Author</span>
                    <span class="text-secondary">Date Published: @Model.BlogPost.PublicationDate.ToShortDateString()</span>
                </div>
                
                <img src="@Model.BlogPost.FeatureImageUrl" class="d-block img-fluid mb-3" />

                <div class="mb-3 blog-details">
                    @Html.Raw(Model.BlogPost.Content)
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    Blog post not found.
                </div>
            }
        </div>
    </div>

</div>
